/bin/
/Python/venv
/Python/.idea
Python/.DS_Store
.DS_Store
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/leetcode.iml
Javascript/ShijieJerryCodingTest/.idea/ShijieJerryCodingTest.iml
/Javascript/ShijieJerryCodingTest/.idea
/Javascript/ShijieJerryCodingTest/.idea
